.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    min-width: 24px;
    height: 24px;
    background-color: #000;
    mask-image: url(../images/sprite.svg#icon-check);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: background-color .3s;
  }

  &--arrow-right {
    &::before {
      mask-image: url(../images/icon-arrow-right.svg);
    }
  }

  &--insta {
    &::before {
      mask-image: url(../images/icon-insta.svg);
    }
  }

  &--twitter {
    &::before {
      mask-image: url(../images/icon-twitter.svg);
    }
  }

  &--youtube {
    &::before {
      mask-image: url(../images/icon-youtube.svg);
    }
  }

  &--linkedin {
    &::before {
      mask-image: url(../images/icon-linkedin.svg);
    }
  }

  &--insta,
  &--youtube,
  &--twitter,
  &--linkedin {
    &::before {
      background-color: #A15842;
    }
  }
}

body {
  overflow-x: hidden;
  background-color: #F9F2E8;
  font-family: 'Roboto';
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, outline-color .3s ease-in-out;

  &--fill {
    padding: 10px 15px;
    background-color: #151515;
    color: #fff;

    &:hover {
      background-color: #fefefe;
      color: #000;
      outline: 1px solid #151515;
    }
  }

  &--stroke {
    padding: 10px 30px;
    outline: 1px solid #151515;
    color: #000;

    &:hover {
      color: #c9c9c9;
      outline-color: #c9c9c9;
    }
  }
}