.footer {
  padding: size(80,40) 16px size(50,30);
  background-color: #A15842;
  color: #fff;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include r($phone) {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  }

  &__item {
    margin-bottom: size(120, 50);

    @include r($phone) {
      &:nth-child(2),
      &:nth-child(4) {
        text-align: right;
      }
    }
  }

  &-list__bold {
    font-size: size(24, 18);
  }

  &-list__bold,
  &__map-list {
    li:not(:last-child) {
      margin-bottom: 27px;
    }
  }

  &__page-link {
    justify-content: flex-start;
    gap: 0 12px;

    @include r($phone) {
      justify-content: flex-end;
    }

    &::before {
      order: 2;
      background-color: #fff;
    }
  }

  &__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 0 5px;
    margin-bottom: 55px;

    @include r($phone) {
      justify-content: center;
    }
  }

  &__social-link {
    min-width: 30px;
    height: 30px;
    background-color: #EBC388;
  }

  &__info-list {
    display: flex;
    align-items: center;
    gap: 0 size(50, 20);
    font-size: 10px;
    p {
      max-width: 210px;
    }

    @include r($phone) {
      flex-direction: column;
      gap: 10px;
    }
  }

  a {
    transition: color .3s ease-in-out;
    &:hover {
      color: #c9c9c9;
    }
  }
}