.photos {
  color: #fff;

  &__swiper {
    width: 100dvw;
    min-height: 100dvh;

    &-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
    }

    &-slide {
      color: #fff;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100dvw;
      height: 100dvh;
      flex: 1 0 auto;
      position: relative;
    }

    &-pagination {
      position: absolute;
      right: 10px;
      bottom: 40px;
    }
  }
}