.photos {
  color: #fff;

  &__swiper {
    width: 100svw;
    min-height: 100svh;

    &-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
    }

    &-slide {
      color: #fff;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100svw;
      height: 100svh;
      flex: 1 0 auto;
      position: relative;
    }

    &-pagination {
      position: absolute;
      right: 10px;
      bottom: 40px;
    }
  }

  // &__by {
  //   position: absolute;
  //   bottom: 40px;
  //   left: 24px;
  // }
}