.subs {
  padding: size(50, 20) size(16, 10);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/subs-bg.jpg);

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 0 size(78, 38);
    
    @include r($tablet) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__title {
    max-width: 370px;
    font-weight: 400;
    font-size: size(24, 20);

    @include r($phone) {
      text-align: center;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 0 15px;
  }

  &__field {
    display: inline-block;
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 220px;
  }

  &__btn {
    &::before {
      opacity: 0.3;
    }
  }
}